.demo {
    background-color: #fff !important;
    height: 90vh;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.demo h2 {
    position: relative;
    text-align: center;
    color: #2C3E50 !important;
    font-weight: 700 !important;
    font-size: 40px !important;
}

.demo h2::after {
    content: '';
    position: absolute;
    background-color: #2C3E50;
    height: 4px;
    width: 100px;
    top: 150%;
    right: 50%;
    transform: translateX(-30%);
}

.demo h2::before {
    content: '';
    position: absolute;
    background-color: #2C3E50;
    height: 4px;
    width: 100px;
    top: 150%;
    left: 50%;
    transform: translateX(30%);
}

.demo p {
    color: #fff !important;
}

span::after {
    content: '\2605';
    position: absolute;
    font-size: 25px;
    right: 50%;
    top: 120%;
    transform: translateX(50%);
}
.protfolioImg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 235; 
    font-weight: lighter;
}
.protfolioIcon{
        z-index: 236;
    opacity: 0;
        transition: all 0.3s;
}

.protfolioImg::after{

    content: '';
    background-color:rgba(26, 188, 156, 0.8) ;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 235;
    inset: 0;
    transition: all 0.3s;
    border-radius: 5px;
}

.protfolioImg:hover::after{
    opacity: 1;
}
.protfolioImg:hover .protfolioIcon{
    opacity: 1;
}


.clickedImg{
    background-color: rgba(26, 188, 156, 0.8);
    position: fixed;
    inset: 0;
    z-index: 1000
}